<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bus Details - Bus Booking System</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/base-css/left-navebar.css" />
  <link rel="stylesheet" href="/jquery-confirm/dist/jquery-confirm.min.css" />
  <link rel="stylesheet" href="/datatables/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="/toast/jquery.toast.min.css" />
  <link rel="stylesheet" href="/base-css/base.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <style>
    body {
      background-color: whitesmoke;
    }
  </style>
</head>

<body>
  <div id="loading">
    <img id="loading-image" src="/images/loader.gif" alt="Loading..." />
  </div>
  <div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
      <div class="col-md-2" style="padding:0px;">
        <div class="left-navebar">
        </div>
      </div>
      <div class="col-md-10 " style="padding:8px">
        <h3>Bus Details
          <div class="float-end">
            <button class="btn btn-success btn-sm" onclick="addModel()"><i class="fa fa-plus" aria-hidden="true"></i>
              Add Bus</button></div>
        </h3>
        <hr>
        <center>
          <div style="width: 75%;">
            <table class="table table-striped  table-bordered  table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Bus Id </th>
                  <th scope="col">Total Seats</th>
                  <th scope="col">Remarks</th>
                  <th scope="col" style="width: 200px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <% let val=data;  for(let i=0; i<Object.keys(val).length;i++){ %>
                <tr>
                  <td><%=val[i].BUSID%></td>
                  <td><%=val[i].TOTAL_SEAT%></td>
                  <td><%=val[i].REMARKS%></td>
                  <td>
                    <button class="btn btn-primary btn-sm" type="button" onclick="editModel( '<%=i%>')"><i
                        class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    <button class="btn btn-danger btn-sm" type="button" onclick="deleteModel( '<%=val[i].BUSID%>')"><i
                        class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </center>
      </div>
    </div>
  </div>
  <!-- editModel -->
  <div class="modal" id="editModel" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordTitle" aria-hidden="true"
    style="transition: opacity .15s linear; background-color: rgba(0, 0, 0, 0.5) !important;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordTitle">Edit</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="busid">Bus Id</label>
            <input type="text" class="form-control" disabled id="editBusid" placeholder="Enter Bus Id" maxlength="6"
              onblur="checkBusId(this.value,'edit')">
          </div>
          <div class="form-group">
            <label for="toseat">Total Seats</label>
            <input type="number" class="form-control" id="editToseat" maxlength="2" placeholder="Enter Total Seats"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          </div>
          <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="editRemarks" placeholder="Enter Remarks" maxlength="50"
              onkeydown="return /[0-9a-zA-Z-./, ]/i.test(event.key)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick=' $("#editModel").hide()'>Cancel</button>
          <button type="button" class="btn btn-primary" onclick="updateRecord()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- addModel -->
  <div class="modal" id="addModel" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordTitle" aria-hidden="true"
    style="transition: opacity .15s linear; background-color: rgba(0, 0, 0, 0.5) !important;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="width: 100%;">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordTitle">Add Bus</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="busid">Bus Id</label>
            <input type="text" class="form-control" id="addBusid" placeholder="Enter Bus Id"
              onblur="checkBusId(this.value,'add')" maxlength="6">
          </div>
          <div class="form-group">
            <label for="toseat">Total Seats</label>
            <input type="number" class="form-control" id="addToseat" placeholder="Enter Total Seats" maxlength="2"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          </div>
          <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="addRemarks" placeholder="Enter Remarks" maxlength="50"
              onkeydown="return /[0-9a-zA-Z-./, ]/i.test(event.key)">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick=' $("#addModel").hide()'>Cancel </button>
          <button type="button" class="btn btn-primary" onclick="addRecord()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script language="javascript" src="/base-js/base.js"> </script>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script type="text/javascript" src="/datatables/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/toast/jquery.toast.min.js"></script>
  <script>
    $(document).ready(function () {
      $('table').DataTable({
        dom: 'Bfrtip',
        "iDisplayLength": 12
      });
      $.ajax({
        url: "/nave_bar",
        type: "POST",
        dataType: 'html',
        success: function (data) {
          $(".left-navebar").html(data);
          $('#loading').fadeOut('slow');
        }
      })
    });


    function editModel(i) {
      $("#editModel").show();
      let val = JSON.parse('<%-JSON.stringify(data)%>')
      $("#editBusid").val(val[i].BUSID);
      $("#editToseat").val(val[i].TOTAL_SEAT);
      $("#editRemarks").val(val[i].REMARKS);
    }

    function deleteModel(busid, x) {
      if (busid == "") return;
      $('#loading2').show();
      $.confirm({
        title: '<font color="red">Alert!</font>',
        content: 'Do you want to delete the bus!',
        buttons: {
          close: function () {
            $('#loading2').hide();
          },
          Yes: {
            text: 'Delete',
            btnClass: 'btn-danger',
            action: function () {
              $.ajax({
                url: "/admin/deleteBus",
                type: "POST",
                data: {
                  busid: busid
                },
                dataType: 'html',
                success: function (data) {
                  if (data == 1) {
                    sm_success2("Successfully deleted!.");
                  } else {
                    sm_success2("An unexpected error occured while trying!");
                  }
                  $('#loading2').fadeOut('slow');
                }
              })
            },
          }
        }
      });
    }

    function deleteRecord() {}

    function updateRecord() {
      let editBusid = $("#editBusid").val();
      let editToseat = $("#editToseat").val();
      let editRemarks = $("#editRemarks").val();
      if (editBusid == "" || editToseat == "" || editRemarks == "" || editBusid == null || editToseat == null ||
        editRemarks == null) {
        sm_warning2("Please fiil the all input feilds");
        return;
      }
      $("#loading2").show();
      $.ajax({
        url: "/admin/updateBus",
        type: "POST",
        data: {
          busid: editBusid,
          toseat: editToseat,
          remarks: editRemarks
        },
        dataType: 'html',
        success: function (data) {
          if (data == 1) {
            sm_success2("City was successfully added!.");
          } else {
            sm_warning2("Something went wrong!");
          }
          $("#editBusid").val("");
          $("#editToseat").val("");
          $("#editRemarks").val("");
          $("#editModel").hide();
          $("#loading2").fadeOut();
        }
      })
    }

    function addModel() {
      $("#addModel").show();
      $("#addBusid").val("");
      $("#addToseat").val("");
      $("#addRemarks").val("");
    }


    function addRecord() {
      let busid = $("#addBusid").val();
      let toseat = $("#addToseat").val();
      let remarks = $("#addRemarks").val();

      if (busid == "" || busid == null || toseat == "" || toseat == null || remarks == "" || remarks == null) {
        sm_warning2("Alert!", "Please enter the all input field!");
        return;
      }

      $("#loading2").show();
      $.ajax({
        url: "/admin/addBus",
        type: "POST",
        data: {
          busid: busid,
          toseat: toseat,
          remarks: remarks
        },
        dataType: 'html',
        success: function (data) {
          console.log(data);
          if (data == 1) {
            sm_success2("City was successfully added!.");
          } else {
            sm_warning2("Alert!", "Something went wrong!");
          }
          $("#addCity").val("");
          $("#addModel").hide()
          $("#loading2").fadeOut();
        }
      })
    }

    function checkBusId(busId, type) {
      if (busId == "" || busId == null) return;
      $.ajax({
        url: "/admin/checkBusId",
        type: "POST",
        data: {
          busid: busId,
        },
        dataType: 'html',
        success: function (data) {
          if (data == 1) {
            if (type == "add") $("#addBusid").val("");
            if (type == "edit") $("#editBusid").val("");
            sm_warning2("Bus id already found!");
          } else if (data == "error") {
            sm_warning2("Something went wrong!");
          }
        }
      })
    }
  </script>
</body>

</html>